
@{
    ViewData["Title"] = "CompleteForgetPassword";
    Layout = "~/Views/Shared/_AuthorizationLayout.cshtml";
}

<div class="main-agileinfo">
	<div class="agileits-top">
		<div class="body"> 
			<p>Password reset link has been sent to your email address. Please check your inbox.</p>
		</div>
	</div>
</div>