@model ForgetPasswordViewModel
@{
    ViewData["Title"] = "ForgetPassword";
    Layout = "~/Views/Shared/_AuthorizationLayout.cshtml";
}

<div class="main-agileinfo">
	<div class="agileits-top">
		<form asp-action="ForgetPassword" asp-controller="Account">
			<input class="text email" type="email" asp-for="@Model.EmailAddress" placeholder="Email" required="">
			<span asp-validation-for="@Model.EmailAddress" class="text-danger"></span>
			<input type="submit" value="Forget Password">
		</form>
	</div>
</div>

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}