@{
    ViewData["Title"] = "Update";
}

<div class="row">
    <div class="col-6">
        <form asp-action="Update" asp-controller="Employee" enctype="multipart/form-data">
            <partial name="Partial Views/CreateUpdatePartialView" />
            <input type="submit" value="Edit" class="btn btn-primary" />
            <a asp-action="Index" class="btn btn-light">Back To List</a>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}